.dice {
    width: 100px;
    margin: 0px 20px;
}
@keyframes rotate-clockwise {        
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }      
}
@keyframes rotate-counterclockwise {        
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }      
}
.dice-rotate-clockwise {
    position: relative;
    animation: rotate-clockwise 1s ease;
}
.dice-rotate-counterclockwise {
    position: relative;
    animation: rotate-counterclockwise 1s ease;
}
@media screen and (max-width: 450px) {
    .dice{
        display: none;
    }
    .roll-history-small {
        font-size: large;
    }
}
@media screen and (max-width: 380px) {
    h2 {
        font-size: large;
    }
    .roll-history-small {
        font-size: medium;
    }
}
